.App {
    display: block;
    //
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    .page {
        display: block;
        //
        width: 100%;
        min-height: 100vh;
        //
        overflow: auto;
    }
}